// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url(https://db.onlinewebfonts.com/c/373efd69166d31c2b5052a505527acbf?family=Graphik-Medium);

@font-face {
  font-family: "Graphik-Medium";
  src: url("https://db.onlinewebfonts.com/t/373efd69166d31c2b5052a505527acbf.eot");
  src: url("https://db.onlinewebfonts.com/t/373efd69166d31c2b5052a505527acbf.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/373efd69166d31c2b5052a505527acbf.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/373efd69166d31c2b5052a505527acbf.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/373efd69166d31c2b5052a505527acbf.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/373efd69166d31c2b5052a505527acbf.svg#Graphik-Medium")
      format("svg");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: Graphik, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

a {
  cursor: url("../icons/download.svg"), auto;
  color: var(--base--color);
}

.container {
  width: 94%;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

:root {
  --base--color: #242424;
  --white--color: #fff;
  --bg--color: rgba(243, 243, 243, 0.4);
  --bg--blur: blur(60px) saturate(180%);
  --base--font: 12px;
  --transition: all 0.3s;
  --responsive--font: 9.6px;
  --black--color: #000000;
}

// * Custom scrollbar
::-webkit-scrollbar {
  width: 1px;
  height: 70%;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid currentColor;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
