@mixin width-height{
    width: 100%;
    height: 100%;
}
@mixin flex-center-property{
    display: flex;
   justify-content: center;
   align-items: center;
}
@mixin flex-between-center-property{
    display: flex;
      justify-content: space-between;
      align-items: center;
}

@mixin flex-end-property{
    display: flex;
    justify-content: end;
}

@mixin hovermenu{
    transform: translateX(-50%);
    color: var(--base--color);
    max-height: 0;
    overflow: hidden;
    transition:var(--transition);
    width: 200px;
    background-color: rgba(243, 243, 243, 0.4);
    position: absolute; 
}
@mixin hovervisible{
    max-height: 300px;
    backdrop-filter: blur(60px);

}
@mixin hoverListItem{
    transition:var(--transition);
    @include flex-center-property;
     border: 1px solid var(--base--color);
     border-bottom: none;
     z-index: 1000;
     padding: 5px 10px;
     background-color: rgba(243, 243, 243, 0.4);
     backdrop-filter: var(--bg--blur);
}
@mixin hoverListItemActive{
    border: 1px solid var(--white--color);
    border-bottom: none;
}
@mixin dropdownLink{
    color: var(--base--color);
    padding: 8px 10px;
    border-radius: 3px;
    transition: var(--transition);
    display: inline-block;
    transform: translateY(20px);
    font-size: var(--base--font);
}

@mixin hoverDropdownMenu{
    max-height: 300px;
    background-color: rgba(243, 243, 243, 0.4);
    backdrop-filter: var(--bg--blur);
    position: absolute;
    z-index:1008;
}