.basket-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  background-color: var(--white--color);
  height: 100dvh;
  visibility: hidden;
  z-index: 450;
  border-left: 1px solid var(--base--color);
  transform: translateX(100%);
  @media (max-width: 1024px) {
    width: 100%;
  }
  &.open {
    transform: translateX(0);
    transition: var(--transition);
    visibility: visible;
  }
  .basket-cart-head {
    height: 48px;
    flex: none;
    @include flex-between-center-property;
    border-bottom-width: 1px;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    text-align: center;
    font-size: 0.6rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--base--color);
    .cart-head-name {
      font-size: var(--base--font);
      color: var(--base--color);
      font-weight: 400;
      text-transform: uppercase;
    }
    .close {
      cursor: pointer;
    }
  }

  .cart-list {
    @include width-height;
    overflow: auto;
    .empty {
      @include flex-center-property;
      @include width-height;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  .end-of-cart {
    margin-top: -1px;
    width: 100%;
    padding: 1.125rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    .total {
      gap: 0.75rem;
      font-size: var(--base--font);
      .sub-total {
        @include flex-between-center-property;
        font-size: var(--base--font);
      }
    }
  }
}
