.about-product {
  height: 100%;
  overflow: auto;
  .product-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid #242424;
    padding: 1.125rem;
    .productImg {

     
     .image{
      width: 112px;
      height: 139px;
      img {
        width: 100%;
        height: 100%;
          object-fit: cover;
        }
     }
       
      
  
    }
    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

     width: 100%;
      .upperSide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        .productSize {
          display: flex;
          flex-direction: column;
          gap: 3px;
          span {
            font-size: 9.6px;
          }
          p{
            font-size: 12px;
            @media(max-width:1024px){
              font-size: 9.6px;
            }
          }
        }
      }
      .downSide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .numberlist {
          display: flex;
          flex-direction: row;
          li {
            button {
              padding: 5px 10px;
              background-color: #fff;
              color: #242424;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #000000;
              &:hover{
                background-color: #000000;
                color: #fff;
              }
            }
          }
          .num {
            padding: 5px 10px;
            font-size: 12px;
            border-collapse: collapse;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        span {
          font-size: 12px;
          color: #242424;
        
        }
      }
    }
  }
}
