.dropdown-container {
  position: relative;
  display: inline-block;
  .dropdown-trigger {
    color: var(--base--color);
    text-transform: uppercase;
    font-size: 14px;
    &.active {
      color: var(--white--color);
    }
  }
  .dropdown-menu {
    top: 50px;
    @include hovermenu;
    &.visible {
      @include hovervisible;
    }
    .listItem {
      @include hoverListItem;
      &.active {
        @include hoverListItemActive;
        &:last-child {
          border-bottom: 1px solid var(--white--color);
        }
      }
      &:last-child {
        border-bottom: 1px solid var(--base--color);
      }
    }
    @media (max-width: 1024px) {
      position: fixed;
      backdrop-filter: blur(60px) saturate(180%);
      z-index: 61;
      position: fixed;
      left: 0;
      right: 0;
      top: 48px;
      border-bottom-width: 1px;
      background-color: rgba(243, 243, 243, 0.4);
      transform: translate(0px, 0px);
      width: 100vw;
    }
    .menu-link {
      @include dropdownLink;
      &.active {
        color: var(--white--color);
      }
    }
  }

  .customsDropdown-menu,
  .garageDropdown-menu,
  .hubDropdown-menu {
    @include hovermenu;
    bottom: 50px;
    left: 65%;
    &.visible {
      @include hovervisible;
    }
    .listItem {
      @include hoverListItem;
      &.active {
        @include hoverListItemActive;

        &:last-child {
          border-bottom: 1px solid var(--white--color);
        }
      }

      &:last-child {
        border-bottom: 1px solid var(--base--color);
      }

      .drop-link {
        @include dropdownLink;
        &.active {
          color: var(--white--color);
        }
      }
    }
  }

  &:hover .dropdown-menu {
    @include hoverDropdownMenu;
  }

  &:hover .customsDropdown-menu {
    @include hoverDropdownMenu;
  }

  &:hover .garageDropdown-menu {
    @include hoverDropdownMenu;
  }

  &:hover .hubDropdown-menu {
    @include hoverDropdownMenu;
  }

  &:hover .dropdown-menu .menu-link,
  .social-link {
    transform: translateY(0);
  }
  &:hover .garageDropdown-menu .drop-link {
    transform: translateY(0px);
  }
  &:hover .customsDropdown-menu .drop-link {
    transform: translateY(0px);
  }
  &:hover .hubDropdown-menu .drop-link {
    transform: translateY(0px);
  }
}
