.boxs {
  flex: 0 0 calc(33.333% - 10px);
  margin-bottom: 10px;
  @media (max-width: 768px) {
    flex: 1 1 100%;
  }
  .box-head {
    border: 1px solid var(--base--color);
    display: block;
    position: relative;
    a {
      .box-image {
        @include width-height;
        img {
          @include width-height;
          object-fit: cover;
        }
      }
    }
    .social-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .icon-list {
      gap: 15px;
      background-color: var(--black--color);
      width: 152px;
      @include flex-center-property;
      height: 36px;
      position: absolute;
      right: 20px;
      top: 10px;
      transition: var(--transition);
      .icon {
        width: 20px;
        height: 20px;
        fill: var(--white--color);
      }
      .close {
        margin-left: 10px;
      }
    }
  }

  .box-info {
    border: 1px solid var(--base--color);
    color: var(--base--color);
    border-top: none;
    padding: 12px;
    height: 50px;
    .box-info-link {
      @include flex-between-center-property;
      .box-name {
        font-size: var(--base--font);
        width: 100%;
        @media (max-width: 1038px) {
          font-size: var(--responsive--font);
        }
      }

      .price-list {
        @include flex-end-property;
        gap: 8px;

        .new-price {
          font-size: var(--base--font);
          color: var(--base--color);

          @media (max-width: 1038px) {
            font-size: var(--responsive--font);
          }
        }

        .old-price {
          color: var(--base--color);
          opacity: 0.6;
          text-decoration: line-through;
          font-size: var(--base--font);
          @media (max-width: 1038px) {
            font-size: var(--responsive--font);
          }
        }
      }
    }
  }
}
