.boxs {
  flex: 0 0 calc(33.33% - 10px);
  @media (max-width: 768px) {
    flex: 0 0 100%;
  }
  .boxImage {
    width: 100%;
    border: 1px solid #242424;
    display: block;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .socialicon {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .iconList {
      display: flex;
      flex-direction: row;
      gap: 15px;
      background-color: #000000;
      width: 152px;
      align-items: center;
      justify-content: center;
      height: 36px;
      position: absolute;
      right: 20px;
      top: 10px;
      transition: all .3s;
      .icon {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
      .close {
        margin-left: 10px;
      }
    }
  }
  .boxInfoLink {
    display: block;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
    border-bottom: 1px solid #242424;

    padding: 16px;
    font-size: 12px;
    color: #242424;
    .boxInfo {
      display: flex;
      justify-content: space-between;
      .box-title,
      .boxPrice {
        font-size: 12px;
        @media (max-width: 400px) {
          font-size: 9.6px;
        }
      }
    }
  }
}
