.checkoutbox {
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #000000;
  background-color: #fff;
  color: #000000;
  position: sticky;
  bottom: 48px;
  display: none;
  z-index: 1;
  padding: 20px;
  @media (max-width: 1024px) {
    display: flex;
  }
  .nameSizeBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p,
    span {
      font-size: 9.6px;
    }
  }
  .addCartBox {
    .addToCart {
      width: 100%;
      color: #fff;
      background-color: #000000;
      border: 1px solid #000000;
      background-color: #000000;
      cursor: pointer;
      font-size: 9.6px;
      padding: 15px;
    }
  }
}
