.topHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 3rem;
  background-color: rgba(243, 243, 243, 0.4);
  backdrop-filter: blur(60px) saturate(180%);
  border-bottom: 1px solid #000;
  &.active {
    border-bottom: 1px solid #fff;
  }
  .container {
    .row {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      align-items: center;
      height: 100%;
      color: #242424;
      font-size: 12px;
      text-transform: uppercase;
      @media (max-width: 380px) {
        font-size: 10px;
      }
      @media (max-width: 330px) {
        font-size: 8px;
      }
      .userArea {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        height: 100%;
        &.active {
          color: #fff;
        }
        .contacts {
          .contactTitle {
            color: #242424;
            &.active {
              color: #fff;
            }
          }
        }
        .social {
          position: relative;
          display: inline-block;

          &:hover .dropdownContent {
            opacity: 1;
            height: auto;
            transition: all 0.5s ease;
            background-color: rgba(243, 243, 243, 0.4);
            backdrop-filter: blur(60px) saturate(180%);
            li {
              opacity: 1;
              height: 47px;
              transition: all 0.5s ease;
              .socialLink {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }

          .dropdownContent {
            top: 40px;
            right: -150%;
            left: -160%;
            opacity: 0;
            position: absolute;
            width: 200px;
            height: 0;
            transition: all 0.5s ease;

            li {
              color: #242424;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.5s ease;
              border: 1px solid #242424;
              height: 0;
              background-color: rgba(243, 243, 243, 0.4);
              backdrop-filter: blur(60px) saturate(180%);
              border-collapse: collapse;

              &.active {
                border: 1px solid #b6b1b1;
                color: #b6b1b1;
              }

              .socialLink {
                display: inline-block;
                transform: translateY(20px);
                opacity: 0;
                transition: all 0.8s ease;
                color: #242424;
                font-size: 12px;
                font-weight: 400;
                padding: 15px;

                &.active {
                  color: #b6b1b1;
                }
              }
            }
          }
        }
      }
    }
    .logoName {
      @media (max-width: 1020px) {
        display: none;
      }
      .title {
        color: #242424;
        &.active {
          color: #fff;
        }
      }
    }
    .logo {
      .logo-icon {
        fill: #242424;
        &.active {
          fill: #fff;
        }
      }
    }
  }
  .cartBox {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    background-color: #fff;
    height: 100dvh;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    z-index: 450;
    border-left: 1px solid #242424;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 
    &.isOpen {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
    .cartHead {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #242424;
      padding: 15px ;
      h3 {
        font-size: 12px;
        color: #242424;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .endOfCart {
      display: flex;
      flex-direction: column;
      gap: 15px;
     padding: 0 30px 15px 30px ;
      .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        text-transform: uppercase;
      }
      button {
        padding: 15px 0;
        width: 100%;
        height: 100%;
       
        background-color: rgb(0 0 0 / 1);
        color: #fff;
        opacity: 0.6;
        border: 1px solid #000000;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;

    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    &.isOpen {
      visibility: visible;
      opacity: 1;
      background: rgba(150, 150, 150, 0.8);
      backdrop-filter: saturate(180%) blur(10px);
    }
  }
}
