.checkout-section {
  background-color: var(--base--color);
  .container {
    .checkout-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      .left {
        width: 50%;
      }
      .right {
        width: 50%;
        background-color: #fff;
      }
    }
  }
}
