.checkout-section {
  width: 70%;
  margin: 0 auto;
  .container {
    .checkout {
      .left-side-container {
        left: 0;
        @include checkout-fixed;
        background-color: var(--black--color);
        color: var(--white--color);
      }

      .right-side-container {
        right: 0;
        @include checkout-fixed;
        background-color: var(--white--color);
        color: var(--black--color);
      }
    }
  }
}
