// .hero-section {
//   position: relative;
//   width: 100%;
//   padding-top: 48px;
//   height: calc(6.33px * 80);
//   &:after {
//     content: "";
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//     width: 100%;
//     background: linear-gradient(
//       180deg,
//       transparent,
//       transparent 23.96%,
//       rgba(19, 19, 19, 0) 60.42%,
//       rgba(19, 19, 19, 0.8)
//     );
//     transform: rotate(-180deg);
//   }
//   .hero-img {
//     width: 100%;
//     height: 100%;
//     background-image: url(../../../image/d957264a3006cc970f3330f7ebcac2c2ac5fc3d2-1600x1600.webp);
//     background-size: cover;
//     background-position: center, center;
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//   }
//   .hero-info {
//     z-index: 1;
//     display: flex;
//     flex-direction: column;
//     padding-left: 35px;
//     padding-top: 20px;
//     position: sticky;
//     top: 48px;
//     padding-bottom: 128px;
//     .hero-title{
//       font-size: 100px;
//       font-weight: 100;
//       text-transform: uppercase;
//       line-height: 1;
//       font-family: "Bebas Neue", sans-serif;
//       color: #fff;
//       @media(max-width:1024px){
//         font-size: 64px;
//       }
//     }

//   }
// }

.hero-section {
  position: relative;
  width: 100%;
  padding-top: 48px;
  height: calc(6.33px * 80);

  &:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(
      180deg,
      transparent,
      transparent 23.96%,
      rgba(19, 19, 19, 0) 60.42%,
      rgba(19, 19, 19, 0.8)
    );
    transform: rotate(-180deg);
  }
  .hero-img {
    width: 100%;
    height: 100%;
    background-image: url(../../../image/d957264a3006cc970f3330f7ebcac2c2ac5fc3d2-1600x1600.webp);
    background-size: cover;
    background-position: center, center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .container {
    .hero-info {
      z-index: 1;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      position: sticky;
      top: 48px;
      padding-bottom: 128px;
      .hero-title {
        font-size: 100px;
        font-weight: 100;
        text-transform: uppercase;
        line-height: 1;
        font-family: "Bebas Neue", sans-serif;
        color: #fff;
        @media (max-width: 1024px) {
          font-size: 64px;
        }
      }
    }
  }
}
