

.product-section {
  padding-top: 70px;
  
  .container {
    .product-details {
      justify-content: space-between;
      width: 100%;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
      .left-side {
        position: sticky;
        top: 70px;
        width: 50%;
        max-height: calc(100vh - 70px);
        overflow: hidden;
        padding-right: 20px;
        gap: 20px;
        @media (max-width: 1024px) {
          position: static;
          width: 100%;
          margin-bottom: 40px;
        }
        .item-name {
          .name {
            font-size: 100px;
            font-weight: 100;
            text-transform: uppercase;
            line-height: 0.9;
            font-family: "Bebas Neue", sans-serif;
            color: var(--base--color);
            letter-spacing: -2px;
            @media (max-width: 1024px) {
              font-size: 64px;
            }
          }
        }

        .item-details {
          .details {
            font-size: 16px;
            color: var(--base--color);
            font-weight: 500;
          }
        }

        .item-size {
          gap: 10px;
          margin-top: 10px;
          .size-head-title {
            font-size: 16px;
            font-weight: 400;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 85px;
              height: 1px;
              top: 23px;
              left: 0;
              background-color: var(--base--color);
            }
          }
          .size {
            @include flex-between-center-property;
            padding-top: 30px;
            .size-list {
              display: flex;
              gap: 10px;
              @media (max-width: 1024px) {
                visibility: hidden;
              }
              li {
                list-style: none;
                font-size: 14px;
                cursor: pointer;
                width: 46px;
                height: 46px;
                color: var(--base--color);
                border: 1px solid var(--base--color);
                text-align: center;
                @include flex-center-property;
                &.active {
                  background-color: var(--base--color);
                  color: var(--white--color);
                }
                &.deactive {
                  border: 1px solid rgb(192, 191, 191);
                  color: rgb(192, 191, 191);
                }
              }
            }
            .send-icon {
              margin-right: 40px;
              position: relative;
              @include width-height;
              text-align: end;
              .icon-list {
                gap: 15px;
                background-color: var(--black--color);
                width: 152px;
                @include flex-center-property;
                height: 36px;
                position: absolute;
                right: 0px;
                top: -10px;
                transition: var(--transition);
                .icon {
                  width: 20px;
                  height: 20px;
                  fill: var(--white--color);
                }
                .close {
                  margin-left: 10px;
                }
              }
            }
          }
        }
        .add-to-basket {
          padding-right: 30px;
          width: 100%;
          gap: 20px;
          @media (max-width: 1024px) {
            display: none;
          }

          .list-price {
            gap: 7px;
            justify-content: flex-end;
            .price {
              font-size: 64px;
              font-weight: 100;
              text-transform: uppercase;
              line-height: 0.9;
              font-family: "Bebas Neue", sans-serif;
              letter-spacing: -2px;
              color: var(--base--color);
            }
            .old {
              opacity: 0.4;
              text-decoration: line-through;
            }
          }

          .add {
            @include add;
          }
        }
      }
      .right-side {
        width: 50%;
        padding-bottom: 20px;
        position: relative;
        overflow-y: auto;
        @media (max-width: 1024px) {
          position: static;
          width: 100%;
        }
        &:after {
          content: "";
          position: fixed;
          left: 50%;
          top: 70px;
          border: 0.1px solid var(--base--color);
          width: 0.1px;
          height: 50%;
          background-color: var(--base--color);
          @media (max-width: 1024px) {
            display: none;
          }
        }
        .products-photo {
          width: 100%;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border: 1px solid var(--base--color);
            margin-bottom: -1px;
            display: table-cell;
            vertical-align: middle;
            @media (max-width: 1024px) {
              box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
  .checkout-box {
    gap: 10px;
    border-top: 1px solid var(--black--color);
    background-color: var(--white--color);
    color: var(--black--color);
    position: sticky;
    bottom: 48px;
    display: none;
    padding:20px;
    @media (max-width: 1024px) {
      display: flex;
    }
    .name-size-box {
      @include flex-between-center-property;
      p,
      span {
        font-size: var(--responsive--font);
      }
    }
    .add-cart-box {
      .add-to-cart {
        position: relative;
        background-color: var(--black--color);
        color: var(--white--color);
        border: none;
        padding: 16px;
        overflow: hidden;
        z-index: 1;
        transition: color 0.3s ease;
        font-size: var(--base--font);
        width: 100%;
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--white--color);
          z-index: -1;
          transition: var(--transition);
        }
        &:hover {
          color: var(--black--color);
          border: 1px solid var(--black--color);
          &::before {
            top: 0;
          }
        }
      }
    }
  }
}
