.heroSection {
  color: rgb(255, 255, 255);
  height: calc(6.33px * 80);
  position: relative;
  width: 100%;
  padding-top: 48px;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(
      180deg,
      transparent,
      transparent 23.96%,
      rgba(19, 19, 19, 0) 60.42%,
      rgba(19, 19, 19, 0.8)
    );
    transform: rotate(-180deg);
  }
  .heroImg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../../image/d957264a3006cc970f3330f7ebcac2c2ac5fc3d2-1600x1600.webp);
    background-position: center;
    background-size: cover;
  }
  .heroInfo {
    position: sticky;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 38px;
    padding-top: 1.125rem;
    top: 48px;
    padding-bottom: 8rem;
    h1 {
      font-size: 100px;
      font-weight: 100;
      text-transform: uppercase;
      line-height: 1;
      font-family: "Bebas Neue", sans-serif;
      color: #ffff;
      letter-spacing: -3px;
      transform: scale(1,1);
    }
  }
}
