/* Loader Overlay */
.hard-loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242424; /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it sits on top of other content */
  }
  
  /* Loader */
  .hard-loader {
    position: relative;
    width: 100px;
    height: 100px;
    perspective: 500px;
    transform-style: preserve-3d;
    animation: rotate 3s infinite linear;
  }
  
  .cube {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    transform-style: preserve-3d;
  }
  
  .cube:nth-child(1) {
    transform: rotateY(0deg) translateZ(50px);
  }
  
  .cube:nth-child(2) {
    transform: rotateY(90deg) translateZ(50px);
  }
  
  .cube:nth-child(3) {
    transform: rotateY(180deg) translateZ(50px);
  }
  
  .cube:nth-child(4) {
    transform: rotateY(270deg) translateZ(50px);
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: rotateX(180deg) rotateY(180deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  