// .delivery {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   .react-tel-input {
//     border-radius: 5px;
//     .form-control {
//       width: 100% !important;
//       height: 45px;
//       background-color: #fff;
//       border: 1px solid #fff;
//       color: gray;
//     }
//     .flag-dropdown{
//       background-color: #fff;
//       border: 1px solid gray;
//     }
//     .selected-flag{
//       background-color:#fff !important;
//     }
//   }
//   p {
//     font-size: 20px;
//     font-weight: 500;
//     color: white;
//   }
//   input,
//   select {
//     color: #000000;
//     border-radius: 5px;
//     outline: none;
//     border: 1px solid #fff;
//     background-color: #fff;
//     padding: 15px 10px;
//     width: 100%;
//   }
//   .form-control {
//     color: #0dd851;
//   }
//   select {
//     color: #000000;

//     option {
//       color: #000000;
//     }
//   }
//   .name-surname {
//     gap: 10px;
//   }
//   .adress-info {
//     gap: 10px;
//   }
//   .num {
//     display: flex;
//   flex-direction: column;
//     gap: 10px;
//     margin-bottom: 20px;
//   }
// }

// .shipping {
//   font-size: 15px;
//   color: white;

// }

// .metod {
//   margin-top: 20px;
//   width: 100%;
//   padding: 17px 10px;
//   background-color: rgb(50, 50, 50);
//   border-radius: 5px;
//   color: grey;
//   font-size: 13px;
// }

.delivery {
  display: flex;
  flex-direction: column;
  gap: 15px;
  p {
    font-size: 21px;
  }
  select {
    width: 100%;
    padding: 15px 8px;
    border-radius: 7px;
    color: gray;
  }
  .name-surname {
    display: flex;
    gap: 15px;
    width: 100%;
    input {
      width: 50%;
      padding: 15px 8px;
      border-radius: 7px;
      color: gray;
    }
  }
  input {
    width: 100%;
    padding: 15px 8px;
    border-radius: 7px;
    color: gray;
  }
  .num {
    width: 100%;
    display: flex;
    flex-direction: column;
    .phone-input {
      width: 100%;
    }
    .react-tel-input {
      border-radius: 5px;

      .form-control {
        width: 100% ;
        height: 45px;
        background-color: #fff;
        border: 1px solid #fff;
        color: gray;
      }
      .flag-dropdown {
        background-color: #fff;
        border: 1px solid gray;
      
      }
      .selected-flag {
        background-color: #fff ;
      }
     
    }
     .custom-checkbox{
        display: flex;
    }
  }
  .shipping{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  }
}
