.right-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  overflow-y: auto;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  padding-left: 30px;
  @media (max-width: 1000px) {
    padding: 0;
  }
  .container {
    padding: 30px 200px 30px 0;
    gap: 10px;
    @media (max-width: 1000px) {
        padding: 30px 100px;
      }
    @media (max-width: 600px) {
        padding: 30px 20px;
      }
      display: flex;
      flex-direction: column;
    .selected-clothes {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .clothes-info {
        gap: 15px;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          width: 80px;
          background-color: transparent;
          border: 1px solid rgb(204, 201, 201);
          border-radius: 5px;
          position: relative;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 3px;
          padding-right: 3px;
          img {
            height: 68px;
            object-fit: contain;
          }
          .quantity {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -10px;
            right: -5px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #0000008F;
            opacity: 0.6;
            font-size: 13px;
            color: #fff;
          }
        }
        .info {
          justify-content: space-between;
          align-items: center;
          .product-info {
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: rgb(0, 0, 0);
            gap: 6px;
            .name {
              font-size: 14px;
              font-weight: 500;
            }
            .size,
            .date {
              font-size: 12px;
              font-weight: 300;
            }
          }
          .common-price {
            .price {
              font-size: 14px;
              font-weight: 500;
              color: rgb(0, 0, 0);
            }
          }
        }
      }
    }
    .gift-input {
      gap: 10px;
      display: flex;
      input {
        color: rgb(204, 201, 201);
        width: 100%;
        padding: 15px 10px;
        background-color: transparent;
        border: 1px solid rgb(204, 201, 201);
        outline: none;
        border-radius: 5px;
      }
      button {
        color: rgb(165, 163, 163);
        padding: 15px 15px;
        background-color: rgb(236, 236, 236);
        border: 1px solid rgb(204, 201, 201);
        outline: none;
        border-radius: 5px;
        font-weight: 500;
      }
    }
    .final-info {
     display: flex;
     flex-direction: column;
      color: rgb(0, 0, 0);
      gap: 12px;
      font-size: 15px;
      font-weight: 300;
      width: 100%;
      .final-Subprice {
        justify-content: space-between;
      }
      .final-adress {
        justify-content: space-between;
      }
      .final-price {
        justify-content: space-between;
        font-size: 20px;
        font-weight: 600;
        .total-price {
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          .eur {
            font-size: 12px;
            font-weight: 200;
          }
        }
      }
    }
  }
}
.right {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;

  @media (max-width: 1000px) {
    display: none;
  }
}
