.center-header {
  background-color: #0c2340;
  height: 36px;
  width: 100%;
  position: sticky;
  top: 48px;
  z-index: 10; 
  border-top: 1px solid var(--white--color);
  border-bottom: 1px solid var(--white--color);
  .container {
    .center-header-wrapper {
      @include width-height;
      ul {
        @include flex-between-center-property;
        @include width-height;
        li {
          a {
            color: var(--white--color);
            font-size: var(--base--font);
            @media (max-width: 560px) {
              font-size: var(--responsive--font);
            }
          }
        }
      }
    }
  }
}
