

.center-header {
  background-color: #0c2340;
  height: 36px;
  width: 100%;
  position: sticky;
  top: 48px;
  z-index: 1;
  border-top: 1px solid var(--white--color);
  border-bottom: 1px solid var(--white--color);
  .container {
    .center-header-wrapper {
      width: 100%;
      height: 100%;
      ul {
        justify-content: space-between;
        height: 100%;
        align-items: center;
        li {
          a {
            color: var(--white--color);
            font-size: 12px;
            @media (max-width: 560px) {
              font-size: 9.6px;
            }
          }
        }
      }
    }
  }
}
