.checkout-header {
  background-color: var(--black--color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  height: 100px;
  .container {
    .check-head {
      width: 100%;
      padding: 0 80px;
      padding-top: 10px;
      @include flex-between-center-property;
      color: var(--white--color);
      .check-logo {
        width: 60px;
        height: 60px;
        a {
          .logo {
            @include width-height;
            fill: var(--white--color);
          }
        }
      }
      .check-title {
        @media(max-width:1040px){
          display: none;
        }
        color: var(--white--color);
        @include flex-center-property;
        
        h4 {
          @include title;
          line-height: 0.7;
          font-size: 45px;
          letter-spacing: -2px;
        }
        p {
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 1.2;
        }
      }
    }
  }
}
