// .topHeader {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 100;
//   height: 48px;
//   background-color: rgba(243, 243, 243, 0.4);
//   backdrop-filter: blur(60px) saturate(180%);
//   border-bottom: 1px solid #000;

//   &.active {
//     border-bottom: 1px solid #fff;
//   }
//   .container {
//     .row {
//       flex-direction: row;
//       justify-content: space-between;
//       display: flex;
//       align-items: center;
//       height: 100%;
//       color: #242424;
//       font-size: 12px;
//       text-transform: uppercase;
//       @media (max-width: 380px) {
//         font-size: 10px;
//       }
//       @media (max-width: 330px) {
//         font-size: 8px;
//       }
//       .userArea {
//         display: flex;
//         flex-direction: row;
//         gap: 25px;
//         align-items: center;
//         height: 100%;
//         width: 25%;
//         justify-content: end;
//         @media (max-width: 1024px) {
//           width: 90%;
//           gap: 18px;
//         }
//         &.active {
//           color: #fff;
//         }
//         .contacts {
//           .contactTitle {
//             color: #242424;
//             &.active {
//               color: #fff;
//             }
//           }
//         }

//         .search {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           width: 12px;
//           height: 12px;
//         }
//       }
//       .logoName {
//         width: 25%;

//         @media (max-width: 1020px) {
//           display: none;
//         }
//         .title {
//           color: #242424;
//           &.active {
//             color: #fff;
//           }
//         }
//       }
//       .logo {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         @media (max-width: 1020px) {
//           width: 10%;
//           justify-content: flex-start;
//         }
//         .logo-icon {
//           fill: #242424;
//           &.active {
//             fill: #fff;
//           }
//         }
//       }
//     }
//   }
//   .cartBox {
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: 450px;
//     background-color: #fff;
//     height: 100dvh;
//     transform: translateX(100%);
//     visibility: hidden;
//     opacity: 0;
//     z-index: 450;
//     border-left: 1px solid #242424;
//     display: flex;
//     flex-direction: column;

//     @media (max-width: 1024px) {
//       width: 100%;
//     }
//     &.isOpen {
//       visibility: visible;
//       opacity: 1;
//       transform: translateX(0);
//     }
//     .cartHead {
//       display: flex;
//       height: 48px;
//       flex: none;
//       align-items: center;
//       justify-content: space-between;
//       border-bottom-width: 1px;
//       padding-left: 1.125rem;
//       padding-right: 1.125rem;
//       text-align: center;
//       font-size: 0.6rem;
//       text-transform: uppercase;
//       border-bottom: 1px solid #242424;
//       h3 {
//         font-size: 12px;
//         color: #242424;
//         font-weight: 400;
//         text-transform: uppercase;
//       }
//     }
//     .cartList {
//       height: 100%;
//       overflow: auto;
//       .empty {
//         display: flex;
//         height: 100%;
//         width: 100%;
//         align-items: center;
//         justify-content: center;
//         font-size: 0.75rem;
//         text-transform: uppercase;
//       }
//     }
//     .endOfCart {
//       margin-top: -1px;
//       width: 100%;
//       padding: 1.125rem;
//       font-size: 0.6rem;
//       text-transform: uppercase;
//       .total {
//         flex-direction: column;
//         gap: 0.75rem;
//         display: flex;
//         font-size: 12px;
//         .subTotal {
//           display: flex;
//           justify-content: space-between;
//           font-size: 12px;
//         }
//         .check {
//           position: relative;
//           background-color: rgb(0 0 0 / 1);
//           opacity: 0.6;
//           color: white;
//           border: none;
//           padding: 16px;
//           cursor: pointer;
//           font-size: 16px;
//           overflow: hidden;
//           z-index: 1;
//           transition: color 0.3s ease;
//           font-size: 12px;
//           &::before {
//             content: "";
//             position: absolute;
//             top: 100%;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background-color: #fff;
//             z-index: -1;
//             transition: top 0.3s ease;
//           }
//           &:hover {
//             color: #000;
//             border: 1px solid black;
//             &::before {
//               top: 0;
//             }
//           }
//         }
//       }
//     }
//   }
// }
// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100dvh;
//   background-color: transparent;
//   visibility: hidden;
//   opacity: 0;

//   &.isOpen {
//     visibility: visible;
//     opacity: 1;
//     background: rgba(150, 150, 150, 0.8);
//   }
// }

.top-header {
  position: fixed;
  top: 0;
  background-color: var(--bg--color);
  backdrop-filter: var(--bg--blur);
  height: 48px;
  width: 100%;
  z-index: 2000;
  border-bottom: 1px solid var(--base--color);
  &.active {
    border-bottom: 1px solid #fff;
  }
  .container {
    .row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo-title {
        width: 30%;
        font-size: 12px;
        @media (max-width: 1024px) {
          display: none;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        width: 40%;
        @media (max-width: 1024px) {
          justify-content: flex-start;
          width: 20%;
        }
        .logo-icon {
          width: 32px;
          height: 32px;
        }
      }
      .user-area {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
        gap: 28px;
        width: 30%;
        color: var(--base--color);
        font-size: 12px;
        @media (max-width: 1024px) {
          width: 80%;
        }
        @media (max-width: 400px) {
          font-size: 9.6px;
          gap: 16px;
        }
        .search-icon {
          width: 12px;
          height: 12px;
        }
        .basket-icon {
          width: 18px;
          height: 20px;
        }
      }
    }
  }
  .active {
    color: #fff;
    fill: #fff;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
}
