
.top-header {
  position: fixed;
  top: 0;
  background-color: var(--bg--color);
  backdrop-filter: var(--bg--blur);
  height: 48px;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid var(--base--color);
  &.active {
    border-bottom: 1px solid var(--white--color);
  }
  .container {
    .header-wrapper {
     @include flex-between-property;
     @include width-height;
      .header-logo-name {
        width: 30%;
        font-size:var(--base--font);
        @media (max-width: 1024px) {
          display: none;
        }
      }
      .header-logo {
        display: flex;
       @include flex-center-property;
        width: 40%;
        @media (max-width: 1024px) {
          justify-content: space-between;
          width: 20%;
        }
      }
      .nav-bar {
        width: 30%;
        justify-content: end;
        gap: 32px;
        align-items: center;
        height: 100%;
        @media (max-width: 1024px) {
          width: 80%;
        }
        @media (max-width: 400px) {
          gap: 20px;
        }
        .contacts,
        .ita,
        .search,
        .basket {
          font-size: 14px;
          @media (max-width: 400px) {
            font-size:var(--responsive--font);
          }
          .color-active {
            &.active {
              color: var(--white--color);
            }
          }
        }
      }
    }
  }
  .logo {
    &.active {
      color: var(--white--color);
    }
  }
  .overlay {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg--color);
    backdrop-filter: var(--bg--blur);
  }
}
