.footer {
  background-color: #0c2340;
  color: var(--white--color);
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 40px;
  border-top: 1px solid var(--base--color);
  border-bottom: 1px solid var(--base--color);
  padding-bottom: 40px;
  .container {
    .footer-body {
      gap: 20px;
      .social-head,
      .social-body {
        width: 98%;
        ul {
          width: 100%;
          @media (max-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
          }
          li {
            width: 70%;
            @media (max-width: 1024px) {
              flex: 0 0 45%;
            }
          }
        }
      }
      .social-head {
        .social-head-list {
          li {
            .social-list-link {
              color: var(--white--color);
              font-size: var(--responsive--font);
              font-weight: 700;
            }
          }
        }
      }
      .social-body {
        .social-body-list {
          li {
            ul {
              gap: 5px;
              li {
                font-weight: 700;
                .list-link {
                  font-size: var(--responsive--font);
                  font-weight: 300;
                  color: var(--white--color);
                }
              }
            }
          }
        }
      }
      .copy-write {
        @include flex-between-center-property;
        .footer-logo {
          height: 20px;
          color: var(--white--color);
        }
        small {
          @include width-height;
        }
      }
    }
  }
}
